body {
    font-family: 'Times New Roman', Times, serif
}

.heroSection {
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 10px;
}

ul li {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12%;
    margin-right: 12%;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}

.header h2 {
    font-size: 24px;
    color:#F9FAF8;
}
